@import "tailwindcss";

@layer components {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="url"], textarea {
        @apply bg-gray-300 block lg:inline-block p-2 appearance-none focus:border-blue-500 m-5;
    }
    label {
        @apply block lg:inline-block w-40
    }

    .input-textarea {
        @apply flex flex-col lg:flex-row lg:items-center
    }

    label-textarea {
        @apply inline-block w-40 lg:self-center
    }

    body{
        font-family: Arial, Helvetica, sans-serif, --system-ui,-apple-system, BlinkMacSystemFont;
        
    }
    


}